# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp

# example ディレクトリ内のファイル管理
example/*
!example/surface/


!example/cluster/
example/cluster/**/*
!example/cluster/**/*.py
!example/cluster/**/*.md
!example/cluster/**/*.json
!example/cluster/**/*.png
!example/cluster/**/*.txt
!example/cluster/**/*.yaml

!example/cluster/result
!example/cluster/result/**/*.py
!example/cluster/result/**/*.json
!example/cluster/result/**/*.png
!example/cluster/result/**/*.txt
!example/cluster/result/**/*.yaml
!example/cluster/result/**/*.csv

!example/cluster/code
!example/cluster/code/**/*.py
!example/cluster/code/**/*.json
!example/cluster/code/**/*.png
!example/cluster/code/**/*.txt
!example/cluster/code/**/*.yaml

!example/cluster/Pt_cluster_mattersim
!example/cluster/Pt_cluster_mattersim/**/*.py
!example/cluster/Pt_cluster_mattersim/**/*.json
!example/cluster/Pt_cluster_mattersim/**/*.png
!example/cluster/Pt_cluster_mattersim/**/*.txt
!example/cluster/Pt_cluster_mattersim/**/*.yaml

!example/cluster/Pt_cluster_vasp
!example/cluster/Pt_cluster_vasp/**/*.py
!example/cluster/Pt_cluster_vasp/**/*.json
!example/cluster/Pt_cluster_vasp/**/*.png
!example/cluster/Pt_cluster_vasp/**/*.txt
!example/cluster/Pt_cluster_vasp/**/*.yaml

!example/cluster/Pt_cluster_vasp/*/
!example/cluster/Pt_cluster_vasp/*/**/*.py
!example/cluster/Pt_cluster_vasp/*/**/*.json
!example/cluster/Pt_cluster_vasp/*/**/*.png
!example/cluster/Pt_cluster_vasp/*/**/*.txt
!example/cluster/Pt_cluster_vasp/*/**/*.yaml